{% extends "App/inicio.html" %}
{% load static %}

{% block contenidoQueCambia2 %}

    <p>Estamos buscando a: {{query}}</p>
    {% if listaJugadores %}

        {% for jugador in listaJugadores %}
            ID: {{ jugador.id }} <br/>
            NOMBRE: {{ jugador.nombre }} <br/>
            EDAD: {{ jugador.edad }} <br/>
            NIVEL: {{ jugador.nivel }} <br/><br/><br/>
        {% endfor %}
        
        <p>Para volver al menú de inicio presione <a href="{% url '' %}">aquí</a></p>

    {% else %}

        <p style="color: red;">No se encontraron resultados :(</p>
        <p>Para volver al menú de inicio presione <a href="{% url '' %}">aquí</a></p>

    {% endif %}


{% endblock %}